.element__like{
   min-width: 21px;
   min-height: 19px;
   background-image: url(../../../image/like.png);
   border: none;
   background-color: #FFFFFF;
   opacity: 1;
   padding:0;
   color: #FFFFFF;
   transition: opacity linear;
 }
 .element__like:focus{
   outline: none;
 }
 .element__like:hover{
   opacity:0.5;
   cursor: pointer;
   border:none;
 }
/*я удалила код в js, который позолял закрашивать сердечко по клику и добавила этот модифиактор.
Но теперь по итогу сердечко закрашивается только при клике и не задерживает это состояние.
 Я правильно понимаю, что пока это так должно быть, а реализацию этой функции мы будем делать в следующем спринте? */
 .element__like:active{
  background-image: url(../../../image/blackLike.svg);
  background-repeat: no-repeat;
  background-position: center;
  border:none;
 }
