.page{
  background-color: #000000;
  padding: 45px 200px 60px;
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;
}



@media screen and (max-width: 1040px){
  .page{
    padding: 28px 0 36px;
  }
}
