.profile__avatar{
  border-radius: 50%;
  transition: opacity, 1s, linear;
}

.profile__avatar:hover{
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 768px){
  .profile__avatar{
    margin: 0 0 26px;
  }
}
