.overlay__popup{
  background:#FFFFFF;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  display: none;
}

.overlay__popup_form-edit{
  display: none;
}

.overlay__popup_form-edit_active{
  display: block;
}

.overlay__popup_form-add{
  display: none;
}

.overlay__popup_form-add_active{
  display: block;
}

@media screen and (max-width: 525px){
  .overlay__popup{
    padding: 25px 22px;
    margin: 0 19px;
  }
}

